.cardContainer {
  text-align: left;
  background-color: transparent;
  margin: 36px auto;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  border: var(--card-border);
  width: 75%;
  min-height: 150px;
  position: relative;
  padding-left: 3rem;
  overflow: hidden;
}

.cardContainer h3 {
  margin: 0.5rem 0;
}

.cardContainer p {
  margin-bottom: 0.5em;
}

.cardContainer button {
  width: 136px;
  height: 36px;
  font-size: 12px;
  padding: 0 20px;
}

.cardButtons {
  display: flex;
  gap: 12px;
  margin-bottom: 1em;
}